@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700&display=swap');

/* common styling */

*{
    box-sizing: border-box;
}
*, 
*::after , 
*::before{
  box-sizing: border-box;
}

html,
body{
    height: 100%;
}
body{
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family: 'Poppins', sans-serif;
    color: #fafafa;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    margin-top: 0;
    font-family: 'Baloo 2', cursive;
}

h1 {
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
}
h2 {
    font-size: 36px;
    line-height: 36px;
}
h3 {
    font-size: 30px;
    line-height: 30;
}
h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}
h5 {
    font-size: 14px;
    line-height: 18px;
}
h6 {
    font-size: 12px;
    line-height: 14px;
}

p:last-child {
    margin-bottom: 0;
}
a,button {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

.btn:focus {
    box-shadow: none;
}

a,
button,
img,
input,
span {
    transition: all 0.3s ease 0s;
}


*:focus {
    outline: none limportant;
}
a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button,
input[type = "submit"]{
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.home_purple_version {
    background: #3a1b2f;
}

.header_purple .header_top {
    border-bottom: 1px solid #461257;
}

.header_purple .social_icone ul li a {
    background: #3a1b2f;
    color: #f4f4f4;
}

.header_purple .social_icone ul li a:hover {
    background: #212121;
    color: #fafafa;
}.header_purple .social_icone ul li a:hover {
    background: #212121;
}

.header_purple .top_right > ul > li::before {
    background: #3a1b2f;
}

.header_purple .top_right > ul > li:hover > a {
    color: #212121;
}

.header_purple .top_right > ul > li > a {
    color: #ffffff;
}

.header_purple .top_right > ul > li > a:not([href]):not([tabindex]) {
    color: #ffffff;
}
.header_purple .top_right > ul > li > a:not([href]):not([tabindex]):hover {
    color: #212121;
}

.header_purple .dropdown_language li,
.header_purple .dropdown_currency li,
.header_purple .dropdown_links li{
    border-bottom: 1px solid #461257;
}

.header_purple .dropdown_language li a:hover,
.header_purple .dropdown_currency li a:hover,
.header_purple .dropdown_links li a:hover {
    color: #212121;
}

.header_purple .dropdown_links {
    left: -98%;
}

.social_icone ul li {
    display: inline-block;
    margin-left: 5px;
}

.social_icone ul li:first-child {
    margin-left: 0;
}

.social_icone ul li a {
    background: #ebebeb;
    color: #aaaaaa;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.social_icone ul li a:hover {
    background: #212121;
    color: #ffffff;
}

.top_right > ul > li {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
}

.top_right > ul > li:hover ul.dropdown_currency {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.top_right > ul > li:hover ul.dropdown_language,
.top_right > ul > li:hover .header_purple ul.dropdown_currency,
.header_purple .top_right > ul > li:hover ul.dropdown_currency,
.top_right > ul > li:hover .header_purple ul.dropdown_links,
.header_purple .top_right > ul > li:hover ul.dropdown_links {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.top_right > ul > li:hover ul.dropdown_links {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.top_right > ul > li:first-child {
    padding-left: 0;
    margin-left: 0;
}
.top_right > ul > li::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #ebebeb;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.top_right > ul > li:first-child::before {
    display: none;
}

.top_right > ul > li > a {
    color: #3a1b2f;
    text-transform: capitalize;
    line-height: 26px;
    font-size: 12px;
    cursor: pointer;
    display: block;
    font-weight: 400;
    padding: 9px 0;
}

.top_right > ul > li > a i {
    margin-left: 3px;
    font-size: 10px;
}

.dropdown_currency,
.dropdown_language,
.dropdown_links,
.header_purple .dropdown_currency,
.header_purple .dropdown_links {
    position: absolute;
    background: #212121;
    box-shadow: 00 5px rgba(58, 27, 47, 1.0);
    min-width: 200px;
    text-align: center;
    top: 125%;
    transition: all 0.3s ease-out;
    overflow: hidden;
    left: -154%;
    z-index: 9999;
    padding: 0 15px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
}

.dropdown_language li a,
.header_purple .dropdown_currency li a,
.header_purple .dropdown_links li a {
    text-transform: capitalize;
    display: block;
    font-size: 12px;
    color: #461257;
    text-align: center;
}

.dropdown_language li a:hover,
.header_purple .dropdown_currency li a:hover,
.header_purple .dropdown_links li a:hover {
    color: #461257;
}

.header_purple .dropdown_language li:last-child,
.header_purple .dropdown_currency li:last-child,
.header_purple .dropdown_links li:last-child {
    border-bottom: 0;
}
.dropdown_language li a,
.header_purple .dropdown_currency li a,
.header_purple .dropdown_links li a {
    color: #ffffff;
}

.header_purple .dropdown_links {
    left: -98%;
}
.dropdown_language li,
.header_purple .dropdown_currency li,
.header_purple .dropdown_links li {
    border-bottom: 1px solid #3a1b2f;
    line-height: 36px;
    padding: 5px 0;
}

.dropdown_language li:last-child,
.header_purple .dropdown_currency li:last-child,
.header_purple .dropdown_links li:last-child {
    border-bottom: 0;
}
.dropdown_language li a:hover,
.header_purple .dropdown_currency li a:hover,
.header_purple .dropdown_links li a:hover {
    color: #212121;
}

/* -------------- Middle Header ============== */

.header_middel {
    padding: 40px 0;
    border-bottom: 1px solid #ebebeb;
}

.header_purple .header_middel {
    border-bottom: 1px solid #f4f4f4;
}
.home_contact {
    display: flex;
}

.home_contact .contact_box {
    padding-right: 25px;
    margin-right: 25px;
    border-right: 2px solid #cccccc;
}
.header_purple .home_contact {
    align-items: center;
}
.header_purple .contact_box {
    margin-left: 15px;
}

.header_purple .contact_box p {
    color: #f4f4f4;
    font-size: 14px;
}

.logo {
    padding: 0 20px;
}

.middel_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search_btn {
    position: relative;
}

.search_btn:hover .dropdown_search {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.search_btn a {
    width: 45px;
    height: 45px;
    border-radius: 3px;
    text-align: center;
    line-height: 45px;
    border: 1px solid #461257;
    color: #ffffff;
    font-size: 20px;
    display: block;
}

.search_btn a:hover {
    color: #212121;
}
.header_purple .search_btn form button {
    position: absolute;
    top: 0;
    right: 10px;
    border: 0;
    background: inherit;
    color: #ffffff;
    font-size: 20px;
    height: 100%;
}

.header_purple .search_btn form button:hover {
    color: #212121;
}

.dropdown_search {
    position: absolute;
    right: 0;
    opacity: 0;
    visibility: hidden;
    top: 120%;
    transition: 0.3s;
}

.dropdown_search form {
    position: relative;
    width: 280px;
    border: 1px solid #212121;
    background: #ffffff;
    z-index: 9;
}

.dropdown_search form input {
    border: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 67px 0 10px;
    background: inherit;
    font-size: 12px;
    color: #a4a4a4;
}
.dropdown_search form buttom {
    position: absolute;
    top: 0;
    right: 0;
    background: #ebebeb;
    width: 59px;
    height: 100%;
    border: 0;
    border-left: 1px solid #461257;
    padding: 0;
    font-size: 20px;
    background: none;
    color: #ffffff;
}

.header_purple .dropdown_search form {
    background: #3a1b2f;
    border: 1px solid #461257;
}

.header_purple .wishlist_btn {
    margin-left: 18px;
}

.header_purple .wishlist_btn a {
    width: 45px;
    height: 45px;
    border-radius: 3px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    display: block;
    border: 1px solid #461257;
    color: #ffffff;
}

.header_purple .wishlist_btn a:hover {
    color: #212121;
}

.cart_link {
    margin-left: 25px;
    position: relative;
}

.cart_link span.cart_quantity {
    position: absolute;
    left: -11px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background: #212121;
    color: #ffffff;
    border-radius: 50%;
    top: 12px;
}
.cart_link > a {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    color: #3a1b2f;
    border: 1px solid #212121;
    padding: 11px 10px 13px 18px;
    line-height: 15px;
    border-radius: 3px;
    display: block;
}
.cart_link > a:hover {
    color: #212121;
}
.cart_link > a i.ion-android-cart {
    font-size: 19px;
    margin-right: 10px;
    border-right: 1px solid #212121;
    position: relative;
    top: 3px;
    padding-right: 10px;
}

.cart_link > a i.ion-chevron-down {
    font-size: 17px;
    margin-left: 3px;
}
.header_purple .cart_link span.cart_quantity {
    background: #212121;
}

.header_purple .cart_link > a {
    color: #212121;
    border: 1px solid #461257;
}

.header_purple .cart_link > a:hover {
    color: #eaeaea;
}

.header_purple .cart_link > a i.ion-android-cart {
    border-right: 1px solid #461257;
}

.mini_cart {
    position: fixed;
    min-width: 355px;
    height: 100%;
    padding: 18px 20px 33px;
    background: #ffffff;
    z-index: 999;
    right: 0;
    top: 0;
    transition: 0.5s;
    transform: translateX(100%);
}

.mini_cart.active {
    transform: translateX(0);
    transition: 0.5s;
}

.header_purple .mini_cart {
    background: #3a1b2f;
    border: 1px solid #461257;
}

.cart_close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #461257;
    padding-bottom: 10px;
}

.header_purple .cart_close {
    border-bottom: 1px solid #2d2d2d;
}

.cart_text h3 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0;
    color: #ffffff;
}

.mini_cart_close > a {
    font-size: 25px;
    color: #ffffff;
}

.mini_cart_close > a:hover {
    color: #212121;
}

.cart_item {
    padding: 20px 0;
    border-bottom: 1px solid #461257;
    display: flex;
    overflow: hidden;
}

.cart_img {
    width: 100px;
    margin-right: 10px;
}

.cart_info {
    width: 58%;
}

.cart_info a {
    font-weight: 400;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 14px;
}

.cart_info a:hover {
    color: #212121;
}

.cart_info span {
    display: block;
}

.cart_info span.price_cart {
    color: #212121;
    font-weight: 500;
}

.header_purple .cart_info span.quantity {
    color: #a0a0a0;
}

.cart_remove {
    width: 10%;
    text-align: right;
}

.cart_remove a {
    color: #eaeaea;
    font-size: 18px;
}

.cart_remove a:hover {
    color: #212121;
}

.cart_total {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.cart_total span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.mini_cart_footer {
    padding: 0 25px 25px;
    background: #461257;
}

.cart_button a {
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 400;
    color: #ffffff;
    background: #3a1b2f;
    display: block;
    text-align: center;
    line-height: 20px;
    margin-bottom: 0;
    padding: 13px 0 11px;
}

.cart_button a:hover {
    background: #212121;
}

.cart_button.view_cart {
    padding-bottom: 15px;
}

.cart_button a.active {
    background: #212121;
}

.cart_button a.active:hover {
    background: #2d2d2d;
    color: #ebebeb;
    font-weight: 600;
}


/* =============== Header Down ( 3rd ) ============== */

.header_bottom.sticky-header.sticky .main_menu_inner {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_bottom.sticky-header.sticky .logo_sticky {
    display: block;
}

.header_purple .header_bottom {
    border-bottom: 1px solid #461257;
}

.sticky-header.sticky {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 3px rgba(58, 27, 47, 1.0);
    animation-name: fadeInDown;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(0.2,1,0.22,1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.header_bottom.sticky-header.sticky .main_menu_inner {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_purple .sticky-header.sticky {
    background: rgba(58, 27, 47, 1.0);
    box-shadow: 0 1px 3px rgba(128, 0, 128, 0.427);
}

.main_menu_inner {
    text-align: center;
}

.logo_sticky {
    display: none;
    margin-right: 35px;
}

.logo_sticky a img {
    max-width: 120px;
}

.main_menu nav > ul > li {
    display: inline-block;
    position: relative;
}

.main_menu nav > ul > li > a i {
    margin-left: 2px;
}
.main_menu nav > ul > li:hover > a {
    color: #212121;
}

.main_menu nav > ul > li.active > a {
    color: #212121;
}

.main_menu nav > ul > li:first-child a {
    padding-left: 0;
}

.main_menu nav > ul > li:last-child a {
    padding-right: 0;
}

.main_menu nav > ul > li ul.sub_menu {
    position: absolute;
    min-width: 200px;
    padding: 30px 25px;
    background: #212121;
    border: 1px solid #461257;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0 0;
    left: 0;
    right: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 9;
    top: 100%;
    text-align: left;
}

.main_menu nav > ul > li ul.sub_menu > li > a {
    font-size: 15px;
}

.main_menu nav ul li:hover .sub_menu,
.main_menu nav ul li:hover .mega_menu {
    opacity: 1;
    visibility: visible;
    transform: perspective(600px) rotateX(0deg);
}

.main_menu nav ul li ul li.active a,
.main_menu nav ul li ul li a:hover {
    color: #cccccc;
}

.main_menu nav > ul > li > ul > li > a {
    color: #eaeaea;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 18px;
    margin-bottom: 15px;
    display: block;
    font-weight: 400;
}

.main_menu nav > ul > li > ul.sub_menu > li:last-child > a {
    margin-bottom: 0;
}
.main_menu nav > ul > li > ul.mega_menu li ul li:last-child a {
    margin-bottom: 0;
}

.main_menu nav ul li ul.mega_menu {
    position: absolute;
    min-width: 580px;
    padding: 30px 25px 5px;
    background: #212121;
    border: 1px solid #461257;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0 0;
    left: 0;
    right: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 9;
    top: 100%;
    text-align: left;
}

.main_menu nav > ul > li > ul.mega_menu > li {
    width: 33%;
    float: left;
}

.main_menu nav > ul > li > ul.mega_menu > li > a {
    text-transform: uppercase;
    color: #461257;
    font-weight: 500;
    margin-bottom: 30px;
}

.main_menu nav > ul > li > ul.mega_menu > li > a:hover {
    color: #eaeaea;
}

.main_menu nav > ul > li > ul.mega_menu li ul li a {
    color: #eaeaea;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 11px;
    display: block;
    text-transform: capitalize;
    font-weight: 400;
}

.main_menu nav > ul > li > ul.mega_menu li ul li a:hover {
    color: #212121;
}

.main_menu nav ul li ul.sub_menu.pages {
    left: inherit;
    right: inherit;
}

.header_purple .main_menu nav > ul > li.active > a {
    color: #eaeaea;
}

.header_purple .main_menu nav > ul > li:hover > a {
    color: #212121;
}

.header_purple .main_menu nav > ul > li > a {
    color: #eaeaea;
    font-family: serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 18px;
}

.header_purple .main_menu nav > ul > li ul.sub_menu {
    background: #3a1b2f;
    border: 1px solid #461257;
}
.header_purple .main_menu nav > ul > li ul.sub_menu li a {
    color: #eaeaea;
    font-family: serif;
}

.header_purple .main_menu nav > ul > li ul.sub_menu li a:hover {
    color: #212121;
}

.header_purple .main_menu nav > ul > li ul.mega_menu {
    background: #200215;
    border: 1px solid #3a1b2f;
}
.header_purple .main_menu nav > ul > li ul.mega_menu > li > a {
    color: #461257;
    font-family: serif;
}
.header_purple .main_menu nav > ul > li ul.mega_menu > li > a:hover {
    color: #212121;
}
.header_purple .main_menu nav > ul > li ul.mega_menu > li ul li a {
    color: #eaeaea;
}

.header_purple .main_menu nav > ul > li ul.mega_menu > li ul li a:hover {
    color: #212121;
}
.ion-chevron-down {
    font-size: 14px;
    padding-left: 3px;
}

.main_menu nav > ul > li > a {
    display: block;
    padding: 19px 20px;
    color: #3a1b2f;
    font-size: 13px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 500;
}


/* ============ Slider Section ============== */
.single_slider {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.slider_area {
    margin-bottom: 35px;
}

.slider_area.owl-carousel .owl-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.slider_area.owl-carousel .owl-dots .owl-dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: inline-block;
    background: #a0a0a0;
    margin: 0 5px;
    transition: 0.3s;
    position: relative;
}

.slider_area.owl-carousel .owl-dots .owl-dot.active {
    transition: 0.3s;
}

.slider_area.owl-carousel .owl-dots .owl-dot.active::before {
    position: absolute;
    content: "";
    background: #eaeaea;
    width: 13px;
    height: 13px;
    left: -3px;
    top: -3px;
    border-radius: 50%;
}

.slider_area .single_slider .row {
    height: 500px;
}